<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/animal">Animals</a>
            <a sec:authorize="isAuthenticated()"  class="nav-link">
                <form th:action="@{/logout}" method="post">
                    <input type="submit"  class="btn btn-primary" value="Sign Out"/>
                </form>
            </a>
            <a sec:authorize="!isAuthenticated()"  class="nav-link">
                <a  class="btn btn-primary" href="/login">Login</a>
            </a>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/adoptions/my-requests}" class="btn btn-primary">My Adoption Requests</a>
         
        </nav>
    </div>
</header>

</body>
</html>